.container {
    background-color: #E9E8E8;
    padding: 4rem;
}

.heading {
    color: #011627;
    text-align: center;
    margin: 0 0 3rem 0;
}

.grid {
    margin: 1rem;
}

.card {
    height: 100% !important;
    background-color: #011627 !important;
    border-radius: 1rem !important;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem #011627 !important;
    transform-style: preserve-3d !important;
    color: #b7b9bd !important;
    position: relative;
}

.card:hover {
    background-color: #041c30 !important;
}

.card .title {
    color: #E9E8E8;
}

.iconSet {
    padding: 1rem;
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
}

.icon{
    text-decoration: none;
    padding: 0.5rem;
    color: #FDFFFC;
}

.icon:hover {
    color: #99A6B9;
    cursor: pointer;
}

.card .description {
    padding: 0 0 3rem 0;
}

.card .subtitle {
    color: #d5d7db;
}

@media (max-width: 600px) {
    .container {
        padding: 4rem 3rem;
    }
}