.container {
    background-color: #011627;
    padding: 4rem;
}

.heading {
    color: #E9E8E8;
    text-align: center;
    margin: 0 0 4rem 0;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem !important;
}

.skillBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 9rem;
    background-color: #E9E8E8;
    /* border: 0.2rem solid black; */
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem whitesmoke;
    transform-style: preserve-3d;
}

.skillBox:hover {
    background-color: #99A6B9;
}

.skillName {
    font-size: 1.2rem;
    font-weight: 500;
}

@media (max-width: 600px) {
    .container {
        padding: 4rem 2rem;
    }
}

@media (min-width: 660px) {
    .skillBox {
        width: 11rem;
    }
}
