.nav {
    /* background-color: #011627 !important; */
    background-color: #14191d !important;
}

.navlink {
    margin: 0rem 1rem;
    color: #06609c !important;
    font-weight: 500;
}

.navlink:hover {
    color: #2980B9 !important;
}

@media (max-width: 992px) {
    .navlink {
        margin: 0;
    }
}