.container {
    text-align: center;
    background-color: #011627;
    padding: 1rem 2rem;
}

.icon {
    margin: 0.5rem;
    /* padding: 0 0.5rem; */
    text-decoration: none;
    color: #FDFFFC;
}

.icon:hover{
    color: #99A6B9;
}

.details {
    margin: 0.5rem;
}