.container{
    background-color: #E9E8E8;
    padding: 4rem;
}

.heading {
    color: #011627;
    text-align: center;
}

.photograph {
    border-radius: 100%;
    width: 18rem;
}

.image {
    margin: 1.5rem;
}

.info {
    margin: 3.5rem 1rem 2rem;
    line-height: 2rem;
    font-size: 20px;
    color: #212121;
}

.link {
    color: #8798af;
    text-decoration: none;
}

.link:hover {
    color: #424242;
}

@media (max-width: 1280px) {
    .info {
        margin: 0;
        text-align: center;
    }
    .container{
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .photograph {
        width: 14rem;
    }
    .container {
        padding: 4rem 3rem;
    }
}

@media (min-width:1279px) and (max-width:1280px) {
    .info {
        margin: 3.5rem 1rem 2rem;
        text-align: left;
    }
}
